@media screen and (max-width: 1025px) {

  .secondarygame {
    align-items: center;
    flex-direction: column;
  }
  #corps {
    background: #1E1A1A;

    header {
      font-size: 1.8em;
      margin-bottom: 20%;
    }

    .titrehome {
      font-size: 3.0em;
    }

    .logo_team {
      width: 50%;
      margin-top: 10%;
    }
  }
}




