$fyrox: #52AAFC;

$myroko: #BE1A1B;

$cazertox: #FB8527;

$leetro: #BE1A1B;


.myroko{
  color: $myroko;
}

.fyrox {
  color: $fyrox;
}

.cazertox{
  color: $cazertox;
}

.leetro {
  color: $leetro;
}